img {
    width: 300px;
    vertical-align: top;
}

.cake-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

p.rating {
    margin: 10px 0 5px 10px;
    font-weight: bold;
}

p.comment {
    margin: 5px 0 5px 20px;
    font-style: italic;
}